fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
redis
requests
python-dotenv
httpx
email_validator
pydantic[email]
python-multipart
