fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
redis
requests
beautifulsoup4
python-dotenv
httpx
email_validator
pydantic[email]
python-multipart
